@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" type = "text/css" href ="css/aboutus.css">
<style>
body {
    background-image: url('images/c.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
</style>
<body >
<div class="about-section">
    <br>
    <h2>Welcome to Our Online Food Ordering Platform</h2>
    <br>
    <p>
        At our online food order website, we strive to bring you the best culinary experiences delivered right to your doorstep. We are passionate about food and believe in the power of convenience and quality.
    </p>
    <p>
        Our team of talented chefs and food enthusiasts work tirelessly to curate a diverse and delicious menu, featuring a wide range of cuisines to satisfy every craving. Whether you're in the mood for a hearty burger, a flavorful bowl of pasta, or a refreshing salad, we've got you covered.
    </p>
    <p>
        We prioritize the use of fresh, locally sourced ingredients and partner with renowned restaurants and food establishments that share our commitment to exceptional taste and service. With our user-friendly platform, you can easily browse our menu, customize your order, and track your delivery in real-time.
    </p>
    <p>
        Thank you for choosing us as your go-to online food ordering platform. We look forward to serving you a delightful and hassle-free dining experience!
    </p>
</div>

</body>

