<li class="nav-item dropdown active">
    <a class="dropdown-toggle nav-link " href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-th-list"></span>
        Categories
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var category in Model)
        {
            <a class="dropdown-item" asp-controller="Food" asp-action="List"
               asp-route-category="@category.CategoryName">
                @category.CategoryName
            </a>
        }

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Food" asp-action="List" asp-route-category="">View all categories</a>
    </div>
</li>