<link rel="stylesheet" type="text/css" href="~/css/index.css">
<style>
    body {
               background-image: url('@Url.Content("~/images/new.jpg")');
               background-repeat: no-repeat;
              background-size: cover;
            }
</style>
<div class="wide">
    <div class="tagline">Good Food is Good Mood</div>
</div>
<br>
<div class="order-block">
    <h2 >Feeling Hungry?</h2>
    <br>
    <a class="btn btn-success btn-lg" asp-controller="Home" asp-action="Index" role="button"> Order Now </a>
</div>
<div class="col-xs-2 logo">
    <img class="img" src="~/images/tasty.jpg" alt="">
</div>